/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --title-page-color: #ff0070;
  --cover-image: url("/images/cover-image-dark.png");
}

.theme-dark .page {
  .page {
    background: var(--bg-color);
    color: var(--text-color);
  }
}
