/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Принудительно светлая */
:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #000000;
  --title-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --menu-color: #000000;
  --title-page-color: #000;
  --second-title-page-color: #000;
  --cover-image: url("/images/cover-image-light.png");
}

/* Автоматика — если у пользователя светлая тема в системе */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #000000;
    --title-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --menu-color: #000000;
    --title-page-color: #000;
    --second-title-page-color: #000;
    --cover-image: url("/images/cover-image-light.png");
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
