/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/* Принудительно светлая */
:root.theme-light {
  --accent-color: #ff0070;
  --font-color: #353430;
  --font-color-title: #353430;
  --font-text-color: #353430;
  --font-color-menu: #353430;
  --font-color-menu-hover: #32312d66;
  --title-color: #ffc2e6;
  --title-decor-color: #ff8dcb;
  --background-color: #fff1f7;
  --cover-image: url(/images/cover-image-light.png);
}

/* Автоматика — если у пользователя светлая тема в системе */
@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff0070;
    --font-color: #353430;
    --font-color-title: #353430;
    --font-text-color: #353430;
    --font-color-menu: #353430;
    --font-color-menu-hover: #32312d66;
    --title-color: #ffc2e6;
    --title-decor-color: #ff8dcb;
    --background-color: #fff1f7;
    --cover-image: url("/images/cover-image-light.png");
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
