.layout {
  color: var(--text-color, #353430);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 1.3);
  background-color: var(--background-color, #fff1f7);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.top-banner {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  justify-items: end;
  align-items: start;
  padding: var(--general-padding, 10px);
  block-size: max(100vb, 668px);
}

.top-banner__indicator {
  position: absolute;
  display: var(--display-bulb, none);
  align-items: center;
  gap: 10px;
  color: var(--accent-color, #ff0070);
  inset-block-start: var(--general-padding, 10px);
  inset-inline-end: calc(var(--general-padding, 10px) + 8px);
}

.top-banner__indicator::after {
  content: "";
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #ff0070));
  block-size: 9px;
  inline-size: 9px;
}

.top-banner::before {
  content: "";
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--menu-color, #353430);
  border-block-start: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--general-padding, 10px);
  inset-block-start: var(--general-padding, 10px);
}

.top-banner::after {
  content: "";
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--menu-color, #353430);
  border-block-end: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--general-padding, 10px);
  inset-block-end: var(--general-padding, 10px);
}

.theme-switcher {
  margin-block-start: var(--menu-margin, 65px);
}

.theme-switcher__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-switcher__btn {
  border: none;
  padding: 0px 13px;
  color: var(--menu-color, #353430);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-switcher__btn:hover {
  outline: 1px solid var(--hover-border-color, rgba(50, 49, 45, 0.4));
}

.theme-switcher__btn:focus {
  outline: none;
}

.theme-switcher__btn:focus-visible {
  border-block-end: 1px solid var(--menu-color, #353430);
}

.theme-switcher__btn_active {
  outline: 1px solid var(--menu-color, #353430);
  pointer-events: none;
}

.top-banner__subtitle {
  margin-block-start: var(--promo-margin, 55px);
  max-inline-size: 364px;
}

.hero-title {
  justify-self: start;
  color: var(--heading-color, #ffc2e6);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color, #ff8dcb);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap, 50px);
  padding: var(--main-padding-block, 40px) var(--general-padding, 10px);
}

.content-section {
  display: grid;
  gap: 20px;
}

.content-section__title {
  color: var(--title-color, #353430);
}

.content-section__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.highlighted-title {
  color: var(--title-decor-color, #353430);
  font-weight: 700;
  background-color: var(--accent-color, #ff8dcb);
}

.text-normal {
  font-weight: 400;
}

.article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color, #ff8dcb);
}

.article-link:hover {
  border-bottom: 1px solid var(--text-color, #353430);
}

.article-link:focus-visible {
  outline: 1px solid var(--text-color, #353430);
}

.content-section.visuals {
  grid-template-rows: auto 142px 355px 237px 355px 237px;
}

.visuals__item {
  inline-size: 100%;
  block-size: 100%;
}

.visuals__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.bottom-banner {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--general-padding, 10px);
  block-size: max(100vb, 668px);
}

.bottom-banner::before {
  content: "";
  display: block;
  justify-self: end;
  border-inline-end: 1px solid var(--menu-color, #353430);
  border-block-start: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
}

.bottom-banner::after {
  content: "";
  display: block;
  border-inline-start: 1px solid var(--menu-color, #353430);
  border-block-end: 1px solid var(--menu-color, #353430);
  block-size: 25px;
  inline-size: 25px;
}

.bottom-banner__title {
  justify-self: center;
  align-self: center;
  font-weight: 700;
  color: var(--heading-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

@media (width < 768px) {
  .visuals {
    gap: 10px;
  }
}

@media (width >= 768px) {
  @media (width < 1024px) {
    :root {
      --menu-margin: 172px;
      --promo-margin: 162px;
    }
  }

  :root {
    --general-padding: 20px;
    --main-padding-block: 60px;
    --main-gap: 80px;
  }

  .hero-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .top-banner .hero-title {
    margin-inline-start: -20px;
  }

  .content-section {
    grid-template-columns: 236px 1fr 1fr;
  }

  .reasons .content-section__block,
  .tips .content-section__block {
    grid-column: 2/4;
  }

  .disruptors .content-section__block {
    grid-column: span 3;
  }

  .tips .content-section__title {
    grid-row: span 2;
  }

  .tips .content-section__subtitle {
    grid-column: span 2;
  }

  .visuals .content-section__subtitle {
    grid-column: span 3;
  }

  .content-section.visuals {
    grid-template-rows: auto 192px 230px 318px;
  }

  .visuals__item:nth-of-type(1),
  .visuals__item:nth-of-type(5) {
    grid-column: span 2;
  }

  .visuals__item:nth-of-type(2),
  .visuals__item:nth-of-type(3) {
    grid-row: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --menu-margin: 0;
    --promo-margin: 114px;
  }

  .theme-switcher {
    justify-self: center;
  }

  .theme-switcher__list {
    flex-direction: row;
  }
}
