/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
body {
  color: var(--font-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header.decorated-zone {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}

.theme-menu {
  display: flex;
  flex-direction: column;
}

.icon-corner {
  width: 25px;
  height: 25px;
}

.icon-right {
  border-right: var(--accent-color) 1px solid;
  border-top: var(--accent-color) 1px solid;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
}

.rec-wrapper {
  position: relative;
  display: inline-block;
}

.rec-text {
  display: none;
}

.icon-left {
  border-left: var(--accent-color) 1px solid;
  border-bottom: var(--accent-color) 1px solid;
  margin-bottom: 10px;
  margin-left: 10px;
  align-self: flex-start;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-block: auto 50px;
}

.header__theme-menu-list {
  margin: 0;
  color: var(--font-color-menu);
  font-size: 18px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  height: 98px;
  justify-content: space-between;
}

.header__theme-menu-button {
  background: none;
  border: none;
  text-transform: lowercase;
  padding-inline: 13px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--font-color-menu);
}

.title-decor {
  background-color: var(--title-decor-color);
  font-weight: 700;
  display: flex;
  justify-self: center;
  width: 100%;
  font-style: bold;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83;
  letter-spacing: 0;
  font-weight: 700;
  font-style: bold;
  justify-self: flex-start;
  padding-left: 10px;
  padding-top: 20px;
}

.header__title__about {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__title__about__text {
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0;
  align-self: center;
  margin-top: 40px;
  width: 95%;
  color: var(--font-color);
}

.page-body {
  background-color: var(--background-color);
}

.page {
  max-width: 100vw;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  background-attachment: fixed;
  align-self: center;
}

.page__title {
  color: var(--font-color-menu);
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 23.4px;
  padding-bottom: 22px;
}

.page__section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.main-title {
  margin-bottom: 14px;
  color: var(--font-color);
}

.main2-title {
  margin-bottom: 16px;
  font-size: 18.5px;
  color: var(--font-color);
}

.non-main-title {
  font-style: normal;
  font-weight: 400;
}

.main-p {
  font-family: "IBM Plex Mono";
  font-size: 18px;
  color: var(--font-text-color);
  margin-bottom: 26px;
}

.main2-p {
  margin-bottom: 22px;
}

.pic-title {
  margin-top: 20px;
}

.a-colorful {
  text-shadow: 2px 2px 0 var(--title-decor-color);
  text-decoration: none;
}

.second-title {
  margin-top: 27px;
  color: var(--font-color-menu);
}

.pics {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  width: 100%;
}

.footer {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 0.83;
  letter-spacing: 0;
  font-weight: 700;
  font-style: bold;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-left: 5px;
}

.footer-ver {
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 100px;
    padding-left: 0;
  }

  .rec-text {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: translateY(-50%);
    color: var(--accent-color);
    font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
    z-index: 99;
  }

  .header__title__about__text {
    align-self: flex-end;
    margin-right: 20px;
    width: 364px;
  }

  .page {
    margin-inline: auto;
    margin-top: 20px;
  }

  .section__1 {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    justify-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .section__1 > *:not(.page__title) {
    grid-column: 2;
  }

  .section__1 .page__title {
    grid-column: 1;
  }

  .section__2 > .second-title {
    width: 30%;
  }

  .section__2 {
    margin-bottom: 44px;
  }

  .section__3 {
    grid-template-columns: 1fr 2fr;
    align-items: start;
    justify-items: center;
    gap: 15px;
  }

  .section__3 > *:not(.page__title) {
    grid-column: 2;
  }

  .section__3 .page__title {
    grid-column: 1;
  }

  .mb {
    margin-top: 48px;
  }

  .pic-title {
    margin-top: 60px;
  }

  .pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
  }

  .pics img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pics img:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / 2;
  }

  .pics img:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .pics img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / span 2;
  }

  .pics img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .pics img:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3 / 4;
  }

  .footer__title {
    margin-top: 84px;
  }
}

@media screen and (min-width: 1024px) {
  .header__title__about__text {
    width: 490px;
    margin-top: 50px;
  }

  .header__title {
    margin-top: 50px;
    padding-left: 0px;
  }

  .section__2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-bottom: 0px;
    margin: 0;
  }

  .section__2 > .second-title {
    grid-column: 1 / -1;
    width: 30%;
    padding-bottom: 0;
  }

  .rec-wrapper {
    align-self: flex-end;
    margin-right: 20px;
  }

  .header__theme-menu {
    align-self: center;
    margin-top: 0px;
    margin-bottom: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    height: auto;
    padding-right: 0;
  }

  .footer__title {
    font-size: 157px;
  }

  .title-decor.main2-title {
    margin-top: 30px;
  }

  .mb {
    margin-top: 20px;
  }

  .pic-title {
    margin-top: 50px;
  }
}
