/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --accent-color: #ff0070;
  --heading-color: #db00ff;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --menu-color: #ff0070;
  --text-color: #f1b2ce;
  --title-decor-color: #000028;
  --title-color: #ff0070;
  --display-bulb: flex;
  background-image: url(../images/cover-image-dark.png);
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --font-family: "IBM Plex Mono", monospace;
  --font-size: 18px;
  --line-height: 1.3;
  --general-padding: 10px;
  --main-padding-block: 40px;
  --main-gap: 50px;
  --menu-margin: 65px;
  --promo-margin: 55px;
  --display-bulb: none;
}
