/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --decor-color: #ff0070;
  --menu-color: #ff0070;
  --title-page-color: #000;
  --second-title-page-color: #ff0070;

  --cover-image: url("/images/cover-image-dark.png");
}
